<!-- Modal -->
<div class="modal fade" id="split-payment" role="dialog" tabindex="-1" aria-labelledby="edit-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pecah Pembayaran</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Pembayaran 1</label>
              <select class="form-control" name="merkId">
                <option value=""> Tipe Pembayaran</option>
                <option value="tunai" >Tunai</option>
                <option value="tunai" >Non Tunai</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control name" name="name" placeholder="Enter Value" required />
            </div>

            <div class="form-group">
              <label for="name">Pembayaran 2</label>
              <select class="form-control" name="merkId">
                <option value=""> Tipe Pembayaran</option>
                <option value="tunai" >Tunai</option>
                <option value="tunai" >Non Tunai</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control name" name="name" placeholder="Enter Value" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>