<!-- Modal -->
<div class="modal fade" id="dp-payment" role="dialog" tabindex="-1" aria-labelledby="edit-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel">Total Bayar</h5>
          <h6 class="modal-title" id="exampleModalLabel"  ><%= new Intl.NumberFormat("id-ID", { style: "currency", currency: "IDR" }).format(trans.total).replace(/\D00(?=\D*$)/, '') %>  </h5>           
        </div>
        <form action="/admin/transaction/payment_dp" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Uang yang diterima</label>
              <input type="number" class="form-control" name="paid_dp" id="paid_dp" onchange="inputPaid()" placeholder="Enter Value" required />
              <input type="hidden"  id="valueTotalDP" value=<%= trans.total %> />
              <input type="hidden"  id="fix_total" name="fix_total" />
            </div>
            <div class="form-group">
              <label for="name">Tanggal</label>
              <input class="form-control " type="text" placeholder="<%= moment().format('DD-MMM-YY') %>" id="due_date" name="due_date" required >
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" value=<%= trans._id %>  name="id_transaction" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function inputPaid() {
    var paidDP = document.getElementById('paid_dp').value;
    let totalDP = document.getElementById('valueTotalDP').value;
    var cal = totalDP - paidDP ;
    document.getElementById('fix_total').value = parseInt(cal); 
    if(paidDP <= 0 ){
        alert('Pembayaran tidak boleh minus dan nol ' );
        document.getElementById('paid_dp').value = '';
        document.getElementById('fix_total').value = '';
    } else if(paidDP > parseInt(totalDP)  ) {
        alert('Pembayaran tidak boleh lebih dan sama dari total bayar');
        document.getElementById('paid_dp').value = '';
        document.getElementById('fix_total').value = '';
    } 
  }
  </script>