<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-1">
          <a href="/admin/transaction" class="btn btn-warning">Back</a>
        </div>
        <div class="col-5">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cash-payment">Tunai </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#split-payment">Pecah
            Pembayaran</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kasbon-payment">Kasbon</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#transfer-payment"> Transfer </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dp-payment"> DP </button>
        </div>


      </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Product name</th> 
              <th>Price</th> 
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < trans.product_Id.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= trans.product_Id[i].product_name%></td>
              <td><%= trans.product_Id[i].price%></td>
              <td>
                <a href="/admin/transaction/ %> " class="btn btn-success btn-circle btn-sm button-update">
                  <i class="fas fa-eye"></i></a>
              </td>
              </tr>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  