<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nusapos Documentation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/scribbler-global.css">
    <link rel="stylesheet" href="/css/scribbler-doc.css">
    <link rel="stylesheet" href="/css/scribbler-landing.css">
    <link rel="author" href="humans.txt">
  </head>
  <body>
    <div class="doc__bg"></div>
    <nav class="header">
      <h1 class="logo">Nusa <span class="logo__thin">Doc</span></h1>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <!-- <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
        <li class="menu__item"><a href="index.html" class="link link--dark"><i class="fa fa-home"></i> Home</a></li> -->
      </ul>
    </nav>
    <div class="wrapper">
      <aside class="doc__nav">
        <ul>
          <li class="js-btn selected">Get Started</li>
          <li class="js-btn">UAT</li>
        </ul>
      </aside>
      <article class="doc__content">
        <section class="js-section">
          <h3 class="section__title">Get Started</h3>
          <p>Learn how to configure settings for Scribbler, such as your syntax highlighting preference and the default saving folder location.</p>
          <h3 class="section__title">Installation</h3>
          <div class="code__block code__block--notabs">
            <pre class="code code--block">
              <code>
                $ scribbler  ——config
                  {
                    “encryption”: true, 
                    “highlighting“: true,
                    “prettyTable”: false,
                    “font”: [“Helvetica”, “sans-serif”],
                    “folder”: “~/Desktop“
                  }
              </code>
            </pre>
          </div>
        </section>
        <section class="js-section">
          <h3 class="section__title">UAT</h3>
          <p>Follow instructions in below : </p>
          <table id="customers">
            <tr>
              <th>No</th>
              <th>Date</th>
              <th>Test</th>
              <th>Instruction</th>
              <th>Status</th>
            </tr>
            <tr>
              <td>1</td>
              <td>03/08/2021</td>
              <td>Automation convert data to mongoDB</td>
              <td>Go to link and add input data in last row then wait automate data for 5 minutes</td>
              <td>false</td>
            </tr>
            
          </table>
          <p>Malis percipitur an pro. Pro aperiam persequeris at, at sonet sensibus mei, id mea postulant definiebas concludaturque. Id qui malis abhorreant, mazim melius quo et. At eam altera dolorum, case dicant lobortis ius te, ad vel affert oportere reprehendunt. Quo no verterem deseruisse, mea brute postea te, ne per tacimates suavitate vituperatoribus.</p>
          <hr />
        </section>
      </article>
    </div>

    <footer class="footer">Made with Coffee and Burnout by <a href="https://github.com/masf4dhil" target="_blank" class="link link--light">Masf4dhil</a>.</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/js/scribbler.js"></script>
  </body>
</html>